* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Balsamiq Sans", cursive;
}

.header {
  max-width: 100%;
  padding-top: 100px;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1528076225979-12893c7d55e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1991&q=80");
  background-size: cover;
}

.header .top-title {
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 0px 0px 2px black;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 150px;
}

.header .left-panel {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.header .left-panel .contact-class {
  padding-bottom: 25px;
  text-shadow: 0px 0px 2px black;
}

.header .left-panel .col-6 {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .left-panel .col-6 div h2 {
  opacity: 0.5;
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 0px 5px black;
}

.header .left-panel .col-6 div p {
  opacity: 0.8;
  font-size: 20px;
  margin-top: 10px;
  font-weight: lighter;
  text-shadow: 0px 0px 10px black;
}

.header .left-panel .col-6 .col-7 {
  padding-right: 20px;
}

.header .left-panel .col-6 .col-7 img {
  width: 30px;
  height: 30px;
}

.header .right-panel {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  padding-top: 20px;
  width: 500px;
  height: 700px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.header .right-panel .right-panel-inside-cont {
  margin: auto;
}

.header .right-panel .right-panel-inside-cont .header-right-title h1 {
  color: black;
  font-weight: 100;
}

.header .right-panel .right-panel-inside-cont .right-panel-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding-top: 25px;
  padding-left: 20px;
}

.header .right-panel .right-panel-inside-cont .right-panel-form .col-1 input {
  color: black;
  padding: 20px;
  padding-right: 150px;
  font-size: 20px;
  border: none;
}

.header .right-panel .right-panel-inside-cont .right-panel-form .col-4 input {
  color: black;
  padding: 20px;
  padding-bottom: 150px;
  padding-right: 150px;
  font-size: 20px;
  border: none;
}

.header .right-panel .right-panel-inside-cont .right-panel-form .col-5-button a {
  padding: 15px 20px;
  background-color: #3b8afb;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .right-panel .right-panel-inside-cont .right-panel-form .col-5-button a:hover {
  border: solid black 1px;
  background-color: #fff;
  color: #3b8afb;
}
/*# sourceMappingURL=scss.css.map */